<html>
  <head>
    <title>Simple login</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
  </head>
  <body>
    <h1>Hello people !</h1>

    <form action="/" method="post">
        <fieldset>
                                    
            <label for="name">Nombre del Proyecto : </label>
            <input type="text" name="title" placeholder="Enter your full name"  />
                                    
            <input type="submit"> </input>&nbsp;
        </fieldset>
    </form>
    
  </body>
</html>
